@font-face {
  font-family: "hsbcicon";
  src: url("/fonts/hsbcicons-regular.woff") format("woff")
}

@font-face {
  font-family: "HSBC Univers Next Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/UniversNextforHSBCW02-Rg.woff") format("woff")
}